
#header{
    background-color: #d0d9d9;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

#navigationBar{
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.headerText{
    font-family: fantasy, Arial;
    font-size: 20px;
    margin-left: 7%;
}

#appTitle{
    font-family: fantasy, Arial;
    font-size: xx-large;
    margin: 0 1% 0 0%;
}

.headerIcon{
    width: 35px;
}

.dropDownItemIcon{
    width: 25px;
}

.navItem {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 12%;
}

#dropDownItems {
    display: none;
}

a {
    text-decoration: none;
    color: black
}

#accountDropDown{
    margin-right: 12%;
}

#accountDropDown:hover #dropDownItems {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    background-color: #d0d9d9;
}

#dropDownButton{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
}

.dropDownItem{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;}

.dropDownItemText{
    font-family: fantasy, Arial;
    font-size: 15px;
    margin-left: 5%;
}