
#header{
    width: 100%;
    background-color: #d0d9d9;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10%;
    padding: 2% 0;
}

#navigationBar{
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.headerText{
    font-family: fantasy, Arial;
    font-size: 1rem;
    margin-left: 7%;
}

#appTitle{
    font-family: fantasy, Arial;
    font-size: xx-large;
}

.headerIcon{
    width: 1rem;
}

.dropDownItemIcon{
    width: 2rem;
}

.navItem {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 8%;
}

#dropDownItems {
    display: none;
}

a {
    text-decoration: none;
    color: black
}

#accountDropDown{
    margin-right: 12%;
}

#accountDropDown:hover #dropDownItems {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    background-color: #d0d9d9;
}

#dropDownButton{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
}

.dropDownItem{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;}

.dropDownItemText{
    font-family: fantasy, Arial;
    font-size: 1rem;
    margin-left: 5%;
}