
#symbolDetail{
    margin-left: 40%;
}

#priceChart{
    margin-top: 5%;
    margin-right: 10%;
}

#detailBlock{
    width: 70%;
}

@media(max-width:1000px) {
    #detailBlock{
        width: 100%;
    }
}

