
#symbolDetail{
    margin-left: 40%;
}

#selectedSymbol{
    display: flex;
    flex-flow: row nowrap;
}

#symbolDescription{
    width: 70%;
}

.positivePriceDiff{
    margin-left: 1rem;
    color : #26de26;
}

.negativePriceDiff{
    margin-left: 0.5rem;
    color: red;
}

#priceChart{
    margin-top: 5%;
    margin-right: 10%;
}

#detailBlock{
    width: 70%;
}

@media(max-width:1000px) {
    #detailBlock, #symbolDescription{
        width: 100%;
    }
}

