#submitOrderForm{
    display: flex;
    flex-flow: column nowrap;
}

#operationList{
    display: none;
}

#operationDropDown:hover #operationList {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    background-color: #d0d9d9;
}

#orderSubmit{
    margin-top: 2%;
}

#operationSelectIcon{
    width: 1rem;
    margin: 0 10px;
}