
#searchIcon{
    width: 25px;
    margin: 0 10px;
}

#query{
    width: 100%;
    margin: 10px 5px;
    font-size: 18px;
    border: none;
    outline: none;
}

#searchField{
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
}

#suggestionList{
    width: 40%;
    margin: 0 auto;
}

#symbolsBody{
    display: flex;
    flex-flow: row nowrap;
}

.suggestion{
    margin-top: 10px;
    margin-left: 25px;
}

#symbolDetail{
    margin-top: 5%;
    margin-left: 40%;
}

#symbolDetail p{
    font-size: large;
}

#currentPriceList{
    display: flex;
    flex-flow: row nowrap;
}

.positivePriceDiff{
    margin-left: 10px;
    color : #26de26;
}

.negativePriceDiff{
    margin-left: 10px;
    color: red;
}

#priceChart{
    margin-top: 5%;
    margin-left: 25%;
}
