
#symbolsPage{
}

#searchIcon{
    width: 25px;
    margin: 0 10px;
}

#query{
    width: 100%;
    margin: 10px 5px;
    font-size: 18px;
    border: none;
    outline: none;
}

#searchField{
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2%;
    margin-left: 25%;
}

#suggestionList{
    width: 40%;
    margin-left: 26%;
}

#symbolsBody{
    margin-top: 3%;
    display: flex;
    flex-flow: row nowrap;
}

#trendingSymbols{
    width: 70%;
}

#upcomingContests{
    width: 30%;
    margin-bottom: 10%;
}

.suggestion{
    margin-top: 10px;
    margin-left: 25px;
}

#symbolDetail{
    margin-top: 5%;
    margin-left: 34%;
}

#symbolDetail p{
    font-size: large;
}

#currentPriceList{
    display: flex;
    flex-flow: row nowrap;
}

#symbolsRightMeny{
    display: flex;
    flex-flow: row nowrap;
}

.leftMenu{
    width: 30%;
}