
#searchField{
    width: 25%;
    min-width: 250px;
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    margin: 2rem auto;
}

.react-autosuggest__input{
    border: none;
    padding: 1rem 0;
}

.react-autosuggest__suggestions-container--open{
    display: block;
    position: absolute;
    background-color: white;
    z-index: 10;
}

#searchIcon{
    width: 1rem;
    margin: 0 10px;
}