body {
	margin: 0;
	padding: 0;
	font-family: fantasy, Arial;
	font-size: 18px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#root {
	min-width: 280px;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}
