
#query{
    width: 100%;
    margin: 10px 5px;
    font-size: 2rem;
    border: none;
    outline: none;
}

#upcomingContests{
    width: 30%;
    margin-bottom: 10%;
}

#currentPriceList{
    display: flex;
    flex-flow: row nowrap;
}

#symbolsRightMeny{
    display: flex;
    flex-flow: row nowrap;
}

.rightMenu{
    width: 30%;
}

.suggestion{}

