

#searchIcon{
    width: 25px;
    margin: 0 10px;
}

#query{
    width: 100%;
    margin: 10px 5px;
    font-size: 18px;
    border: none;
    outline: none;
}

#searchField{
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2%;
    margin-left: 25%;
}


#symbolsBody{
    margin-top: 3%;
    display: flex;
    flex-flow: row nowrap;
}

#upcomingContests{
    width: 30%;
    margin-bottom: 10%;
}


#symbolDetail{
    margin-top: 5%;
    margin-left: 34%;
}

#symbolDetail p{
    font-size: large;
}

#currentPriceList{
    display: flex;
    flex-flow: row nowrap;
}

#symbolsRightMeny{
    display: flex;
    flex-flow: row nowrap;
}

.rightMenu{
    width: 30%;
}

.suggestion{}

.react-autosuggest__container{
    display: inline-block;
}

.react-autosuggest__suggestions-container{
    display: none;
}

.react-autosuggest__suggestions-container--open{
    display: block;
    position: absolute;
    background-color: white;
    z-index: 10;
}